/* main.css */

body {
  padding-top: 50px;
}

#images {
    padding: 0px 5%;
}

div#image {
    width: 440px;
    background-color: #000;
    float: left;
    position: relative;
}

div.contentWrapper {
    display: table;
    width: 100%;
    height: 100%;
}

div.content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

div.image {
    height: 600px;
}

.border-left {
    border-left: 2px solid darkkhaki;
}

.border-right {
    border-right: 2px solid darkkhaki;
}

img.image {
    width: 100%;
    height: 100%;
}

/*
div#image img {
    width: 100%;
    height: 100%;
}
*/