<!-- application/layouts/scripts/layout.phtml -->
<?php echo $this->doctype() ?>
<html lang="pl">
    <head>
        <?php echo $this->headMeta() ?>
        <title>Prosty System Głosowania</title>
        
        <?php echo $this->headLink() ?>
        <?php echo $this->headScript() ?>
    </head>
    <body>
        <!-- MENUBAR -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Prosty System Głosowania</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="<?php echo $this->url(
                                array('controller'=>'images'), 'default', true) ?>">Home</a></li>
                        <li><a href="#about">Pomoc</a></li>
                        <li><a href="#contact">Kontakt</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div><!-- end MENUBAR -->
        
        <!-- CONTENT -->
        <div class="container">
            <div class="page">
                <?php echo $this->layout()->content; ?>
            </div>
        </div><!-- end CONTENT -->
    </body>
</html>