<h1>Głosuj, oceniaj, wybieraj!</h1><br />
<div id="alert" class="alert alert-success" role="alert" style="display: none;"></div>
<br />

<div id="images" class="row">
    <div id="image" class="image">
        <div class="contentWrapper">
            <div id="image0" class="content">
                <input name="image0" type="hidden" value="<?php echo $this->imgFilenames[0]['id'] ?>">
                <?php echo $this->image($this->escape($this->imgFilenames[0]['src']), $this->escape($this->imagesCache)); ?>     
            </div>
        </div>
    </div>
    <div id="mid" class="col-xs-2">
        <div class="col-xs-6 border-right image"></div>
        <div class="col-xs-6 border-left" image></div>
    </div>
    <div id="image" class="image">
        <div class="contentWrapper">
            <div id="image1" class="content">
                <input name="image1" type="hidden" value="<?php echo $this->imgFilenames[1]['id'] ?>">
                <?php echo $this->image($this->escape($this->imgFilenames[1]['src']), $this->escape($this->imagesCache)) ?>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on("click", ".content", function(e) {
        
       var quantity = 2;
       var clicked = $(this).find('input').first().val();
       var id0 = $('input[name=image0]').val();
       var id1 = $('input[name=image1]').val();
       
       $.post('images/ajax',
            {
                'clicked' : clicked,
                'id0'     : id0,
                'id1'     : id1
            },
            
            function(respond) {
                var data = JSON.parse(respond);
                
                console.log("data: " + data['redirect']);
                if (data['redirect']) {
                    window.location.href = data.redirect;
                }
                
                for (var i = 0; i < quantity; i = i + 1)
                {
                    if (typeof data['alert'] !== "undefined" && data['alert']) {
                        $( "div" ).remove( ".content" );
                        $('div#alert').html(data['alert']).show();
                        break;
                    }
                    $('#image' + i).find('img').attr('src', data['image' + i]['src']);
                    $('input[name=image' + i + ']').val(data['image' + i]['id']);
                }
            });
    }); 
</script>