<br />
<?php if (isset($_GET['alert'])): ?>
    <div id="alert" class="alert alert-success" role="alert">
        <p>Dobra robota. Wszystkie zdjęcia w bazie zostały przez Ciebie ocenione.</p>
    </div>
<?php endif; ?>

<div class="page metro">
    <div class="tile-area">
        <?php foreach($this->images as $image): ?>
            <div class="tile bg-white">
                <div class="tile-content">
                    <?php echo $this->image($image['src'], $image['cache'], 'thumb_', 120, 120) ?>
                </div>
                <div class="brand">
                    <div class="label"></div>
                    <div class="badge bg-orange"><?php echo $this->escape($image['votes']) ?></div>
                </div>
            </div><!-- end tile -->			
        <?php endforeach; ?>
    </div>
</div>